body{
font-family:sans-serif;
margin:0;
background:#f2f2f2;
}

header{
display:flex;
gap:8px;
padding:10px;
background:#222;
color:white;
align-items:center;
flex-wrap:wrap;
}

header input{
padding:5px;
}

.container{
display:flex;
height:90vh;
}

#sidebar{
width:230px;
background:#eee;
overflow:auto;
}

.folder{
padding:10px;
font-weight:bold;
background:#ddd;
}

.page{
padding:8px 15px;
cursor:pointer;
}

.page:hover{
background:#ccc;
}

main{
flex:1;
padding:10px;
display:flex;
flex-direction:column;
}

#toolbar{
margin-bottom:10px;
}

#editor{
flex:1;
border:1px solid #ccc;
padding:10px;
background:white;
overflow:auto;
}

.info{
margin-top:5px;
font-size:12px;
}

.dark{
background:#111;
color:white;
}

.dark #editor{
background:#222;
color:white;
  }
